@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
/* 
.active {
  font-weight: bold;
}
.instructions {
  margin: 0 auto;
  width: 60%;
}
.recipe h1:#d54215;
  text-dechover {
  color: oration: underline;
}
.recipe img {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
}
.ingredients {
  padding-top: 2%;
}
.ingredients h2 {
  font-weight: bold;
  padding-bottom: 1%;
}
.ingredients li {
  font-size: 20px;
}
.ingredients ul {
  list-style: none; /* Remove default bullets 
}
.navbar h3:first-letter {
  text-transform: capitalize;
}
.ingredients ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet
  color: red; /* Change the color 
  font-weight: bold; /* If you want it to be bold 
  display: inline-block; /* Needed to add space between the bullet and the text 
  width: 1em; /* Also needed for space (tweak if needed) 
  margin-left: -1em; /* Also needed for space (tweak if needed) *
}
.ingredients h2:hover {
  color: #d54215;
  text-decoration: underline;
}
.left-column,
.right-column {
  padding-left: 10%;
}
.directions {
  padding-top: 4%;
  padding-bottom: 2%;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.directions h2 {
  padding-top: 2%;
  font-weight: bold;
  padding-bottom: 1%;
}
.directions h2:hover {
  color: #d54215;
  text-decoration: underline;
}
.column {
  display: flex;
} */

.category {
  display: flex;
  gap: 10px;
  gap: 10px 20px; 
  row-gap: 10px;
  column-gap: 20px;
  flex-direction: column;

}
