@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: darkgrey;
  color: black;
}

.navbar {
  margin: 2vw;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
}

.nav-item {
  text-decoration: none;
}

.active {
  color: orange;
}

.instructions {
  margin: 0 auto;
  width: 60%;
}
